#body {   margin:12px; background: linear-gradient(15deg, #d33f34 50%, #a61322 50.1%); }
#wrapper {font-family: 'Roboto' sans-serif;font-weight: 300px; width:600px; margin:150px auto; text-align:center;  color:#fff; text-shadow:1px 1px #000; 
}
.heart p{padding-top:90px;}
.heart {
    position: relative;
    top:25px;
    width: 100px;
    height: 90px;
    margin:0 auto;
}
.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background:  white;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}
.heart:after {
    left: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin :100% 100%;
}
.heart {
	-webkit-animation: pulse 2s infinite;
	-webkit-animation-direction: alternate;
}
@-webkit-keyframes pulse {
    from {
	    opacity:0;
	    filter:alpha(opacity=0);
    	transform: scale(0);
		-ms-transform: scale(0); /* IE 9 */
		-webkit-transform: scale(0); /* Safari and Chrome */
		-o-transform: scale(0); /* Opera */
		-moz-transform: scale(0); /* Firefox */
    }
    to {
	    opacity:1;
	    filter:alpha(opacity=100);
	    transform: scale(1.5);
		-ms-transform: scale(1.5); /* IE 9 */
		-webkit-transform: scale(1.5); /* Safari and Chrome */
		-o-transform: scale(1.5); /* Opera */
		-moz-transform: scale(1.5); /* Firefox */
    }
}
#name{display:block;font-size:60px;}
#izma span{
  text-align: center;
  font-size: 40px;
  display:block;
}
